@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap';
:root {
	--primary-color-500: rgb(144, 12, 39);
	--primary-color-300: #c70039;
	--higlight-color-500: #f6c667;
	--neutral-color-500: #f1f8fd;
	--gradient-bg: linear-gradient(
		134.6deg,
		rgba(201, 37, 107, 1) 15.4%,
		rgba(116, 16, 124, 1) 74.7%
	);
}
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background: var(--neutral-color-500);
}

video {
	z-index: -100;
	overflow: hidden;
}
video#bg-video {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	background-size: cover;
	background-position: center;
}
.container {
	position: relative;
	margin: 1rem;
	max-width: 600px;
	padding: 1rem;
	color: var(--primary-color-300);
	background: var(--neutral-color-500);
	border-radius: 1rem;
}
.container::before {
	/* opacity: 0.9; */
	z-index: -20;
	content: '';
	position: absolute;
	height: calc(100% + 0.5rem);
	width: calc(100% + 0.5rem);
	background-color: #f6c667;

	background-color: #4158d0;
	background-image: var(--gradient-bg);

	top: -0.25rem;
	left: -0.25rem;
	bottom: 0;
	right: 0;
	border-radius: 1.25rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container video {
	object-fit: cover;
}
.container h1 {
	line-height: 1.1;
	text-transform: uppercase;
	background: -webkit-linear-gradient(
		134.6deg,
		rgba(201, 37, 107, 1) 15.4%,
		rgba(116, 16, 124, 1) 74.7%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: var(--primary-color-300);
	z-index: 10;
	padding: 1rem 0.5rem;
	font-size: 2.5rem;
}
.container h1 span {
	/* color: var(--neutral-color-500); */
}
.container p {
	padding: 0 0.5rem;
}
.container ul {
	/* padding-left: 2rem; */
	/* display: grid;
	grid-template-columns: auto auto;
	gap: 0.5rem; */
	/* margin: 0.5rem 1rem; */
	display: flex;
	flex-wrap: wrap;
}
.container li {
	list-style-type: none;
	margin: 0.25rem;
}
.container li a {
	font-size: 0.75rem;
	padding: 0.2rem 0.8rem;
	/* font-weight: bold; */
	color: var(--neutral-color-500);
	text-decoration: none;
	background-color: rgba(116, 16, 124, 0.85);
	border-radius: 50px;
}

.first {
}
.second {
}

.signature {
	background-color: rgba(116, 16, 124, 0.7);
	/* background-image: var(--gradient-bg); */

	border-radius: 50px;
	padding: 0.4rem 1.2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 0.7rem;
	vertical-align: middle;
	text-align: center;
	color: var(--neutral-color-500);
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.signature span {
	color: orangered;
}
.signature a {
	color: #eee;
}
